@model ArgentinahtlMVC.Models.RateListModel
@{
    ViewBag.Title = "Listado de Tarifas";
    Html.EnableUnobtrusiveJavaScript();
    Html.EnableClientValidation();
}

@using ArgentinahtlMVC.Models;

<h2>@ViewBag.Title <span>@Html.ActionLink("Atrás", "Menu", "Lodging")</span></h2>

@*@Html.ValidationSummary(false, "Búsqueda incorrecta. Por favor, corrija los siguientes errores:")*@

<script type="text/javascript">
    $(function () {
        var options = {
            dateFormat: 'dd/mm/yy',
            yearRange: '-1:+0'
        };

        $.datepicker.setDefaults({
            dateFormat: options.dateFormat,
            yearRange: options.yearRange
        });

        $('#fechaDesde, #fechaHasta').datepicker();

        $('#fechaDesde').change(function () {
            $('#fechaHasta').datepicker('option', { minDate: addTimeToDate(1, 'd', $(this).datepicker('getDate'), false) });
        });

        $('#rooms').change(function () {
            loadRateList('{' + '@Model.Lodging.LodgingId.ToString()' + '}',
                         '{' + $('#rooms > option:selected').attr('value') + '}',
                         '{' + $("#fechaDesde").val() + '}',
                         '{' + $("#fechaHasta").val() + '}');

        });
    });

    function loadRateList(lodgingId, roomId, fechaDesde, fechaHasta) {
        if (lodgingId != null && lodgingId != '' && lodgingId != '{}') {
            $('#transaction_list').fadeTo('slow', '0.3');
            var notification = showNotification('Actualizando lista...', 'info');

            $.ajax({
                type: "POST",
                url: '@Url.Content("~/Rate/RateList")',
                data: { lodgingId: lodgingId, roomId: roomId, fechaDesde: fechaDesde, fechaHasta: fechaHasta },
                dataType: "html",
                traditional: true,
                success: function (data) {
                    $('#rate_list').html(data);
                    $('#transaction_list').fadeTo('slow', '1');
                    $("#new_rate").prop("href", '@Url.Content("~/Rate/CreateRate/{")' + $('#rooms > option:selected').attr('value') + '}');
                    $("#cierres").prop("href", '@Url.Content("~/Rate/Cierres/?lodgingId=")' + '@Model.Lodging.LodgingId.ToString()' + '&' +
                                                                            'roomId=' + $('#rooms > option:selected').attr('value') + '&' +
                                                                            'fechaDesde=' + $("#fechaDesde").val() + '&' +
                                                                            'fechaHasta=' + $("#fechaHasta").val() );
                    $("#tarifas").prop("href", '@Url.Content("~/Rate/Tarifas/?lodgingId=")' + '@Model.Lodging.LodgingId.ToString()' + '&' +
                                                                            'roomId=' + $('#rooms > option:selected').attr('value') + '&' +
                                                                            'fechaDesde=' + $("#fechaDesde").val() + '&' +
                                                                            'fechaHasta=' + $("#fechaHasta").val());
                    notification.close();
                    showNotification('Lista actualizada', 'info');
                },
                error: function (data) {
                    $('#transaction_list').fadeTo('slow', '1');
                    notification.close();
                    showNotification('Error al actualizar la lista', 'error');
                }
            });
        }
    }

    function refreshRateList() {
        loadRateList('{' + '@Model.Lodging.LodgingId.ToString()' + '}',
                         '{' + $('#rooms > option:selected').attr('value') + '}',
                         '{' + $("#fechaDesde").val() + '}',
                         '{' + $("#fechaHasta").val() + '}');
        return false;
    }
</script>

<div class="filter-container">
    <div class="filter-group">
        <div id="filters_by_destination" class="byDestination radio-filter">


            @Html.Label("Desde"): @Html.TextBox("fechaDesde")
            @Html.Label("Hasta"): @Html.TextBox("fechaHasta")
            <br />

            @Html.Label("Habitación") @Html.DropDownList("rooms", Model.Lodging.Rooms.Select(d => new SelectListItem { Text = d.RoomName, Value = d.RoomId.ToString() }))

            <br />


        </div>
    </div>
</div>

<br /><br />
<a class="link-button" href="#" onclick="refreshRateList()" style="float:left;clear:both;margin-bottom:2em;">Refrescar</a>

<br /><br />

<div id="rate_list" style="float:left;clear:both;">
    @Html.Partial("RateList", new RateListModel())
</div>