@model ArgentinahtlMVC.Models.RateListModel

@{
    ViewBag.Title = "Tarifas";
    Layout = null;
    Html.EnableUnobtrusiveJavaScript();
    Html.EnableClientValidation();
}

<script type="text/javascript">

    function actualizarTarifa() {
        $.ajax({
            type: "POST",
            url: "/Rate/ActualizarTarifa",
            data: $("#frmTarifas").serialize(),
            datatype: "json",
            success: function (result) {
                if (result.OK == true) {
                    alert("Las tarifas se actualizaron correctamente.");
                    $.colorbox.close();
                    refreshRateList();
                    return;
                }
                else {
                    alert("Error al actualizar las tarifas: " & result.Descripcion);
                }
            }
        });
    }
</script>

<script>
	$(document).ready(function () {
		$("#MES-01").change(function () { if (this.checked) { $("#r01 input:checkbox").prop('checked', true); } else { $('#r01 input:checkbox').prop('checked', false); } });
		$("#MES-02").change(function () { if (this.checked) { $("#r02 input:checkbox").prop('checked', true); } else { $("#r02 input:checkbox").prop('checked', false); } });
		$("#MES-03").change(function () { if (this.checked) { $("#r03 input:checkbox").prop('checked', true); } else { $("#r03 input:checkbox").prop('checked', false); } });
		$("#MES-04").change(function () { if (this.checked) { $("#r04 input:checkbox").prop('checked', true); } else { $("#r04 input:checkbox").prop('checked', false); } });
		$("#MES-05").change(function () { if (this.checked) { $("#r05 input:checkbox").prop('checked', true); } else { $("#r05 input:checkbox").prop('checked', false); } });
		$("#MES-06").change(function () { if (this.checked) { $("#r06 input:checkbox").prop('checked', true); } else { $("#r06 input:checkbox").prop('checked', false); } });
		$("#MES-07").change(function () { if (this.checked) { $("#r07 input:checkbox").prop('checked', true); } else { $("#r07 input:checkbox").prop('checked', false); } });
		$("#MES-08").change(function () { if (this.checked) { $("#r08 input:checkbox").prop('checked', true); } else { $("#r08 input:checkbox").prop('checked', false); } });
		$("#MES-09").change(function () { if (this.checked) { $("#r09 input:checkbox").prop('checked', true); } else { $("#r09 input:checkbox").prop('checked', false); } });
		$("#MES-10").change(function () { if (this.checked) { $("#r10 input:checkbox").prop('checked', true); } else { $("#r10 input:checkbox").prop('checked', false); } });
		$("#MES-11").change(function () { if (this.checked) { $('#r11 input:checkbox').prop('checked', true); } else { $('#r11 input:checkbox').prop('checked', false); } });
		$("#MES-12").change(function () { if (this.checked) { $("#r12 input:checkbox").prop('checked', true); } else { $("#r12 input:checkbox").prop('checked', false); } });
	});
	$('table.tablesorter').floatThead({
		position: 'fixed'
	}) 
</script>

<form id="frmTarifas" action="">

@Html.LabelFor(m => m.Rates[0].UnidadAlojamiento.RoomName): @Html.TextBoxFor(m => m.Rates[0].UnidadAlojamiento.RoomName, new { style = "width:20%", disabled = "disabled" })
<table class="borderless">
    <tr><td>@Html.LabelFor(m => m.Rates[0].MontoRACDTR):</td><td>@if (Model.Rates[0].Id != default(Guid))
                                                                    {
                                                            @Html.TextBoxFor(m => m.Rates[0].MontoRACDTR, new { style = "width:40%" })
                                                                    }
                                                                    else
                                                                    {
                                                            @Html.TextBoxFor(m => m.Rates[0].UnidadAlojamiento.RoomCost, new { style = "width:40%" })
                                                                    }
                                                        </td>
    <td>@Html.LabelFor(m => m.Rates[0].MontoEXTCDTR):</td><td>@Html.TextBoxFor(m => m.Rates[0].MontoEXTCDTR, new { style = "width:40%" })</td>
    <td>@Html.LabelFor(m => m.Rates[0].MontoMERCDTR):</td><td>@Html.TextBoxFor(m => m.Rates[0].MontoMERCDTR, new { style = "width:40%" })</td></tr>
    <tr><td>@Html.LabelFor(m => m.Rates[0].MontoRASDTR):</td><td>@Html.TextBoxFor(m => m.Rates[0].MontoRASDTR, new { style = "width:40%" })</td>
    <td>@Html.LabelFor(m => m.Rates[0].MontoEXTSDTR):</td><td>@Html.TextBoxFor(m => m.Rates[0].MontoEXTSDTR, new { style = "width:40%" })</td>
    <td>@Html.LabelFor(m => m.Rates[0].MontoMERSDTR):</td><td>@Html.TextBoxFor(m => m.Rates[0].MontoMERSDTR, new { style = "width:40%" })</td></tr>
    <tr><td>@Html.LabelFor(m => m.Rates[0].MontoRACDTNR):</td><td>@Html.TextBoxFor(m => m.Rates[0].MontoRACDTNR, new { style = "width:40%" })</td>
    <td>@Html.LabelFor(m => m.Rates[0].MontoEXTCDTNR):</td><td>@Html.TextBoxFor(m => m.Rates[0].MontoEXTCDTNR, new { style = "width:40%" })</td>
    <td>@Html.LabelFor(m => m.Rates[0].MontoMERCDTNR):</td><td>@Html.TextBoxFor(m => m.Rates[0].MontoMERCDTNR, new { style = "width:40%" })</td></tr>
    <tr><td>@Html.LabelFor(m => m.Rates[0].MontoRASDTNR):</td><td>@Html.TextBoxFor(m => m.Rates[0].MontoRASDTNR, new { style = "width:40%" })</td>
    <td>@Html.LabelFor(m => m.Rates[0].MontoEXTSDTNR):</td><td>@Html.TextBoxFor(m => m.Rates[0].MontoEXTSDTNR, new { style = "width:40%" })</td>
    <td>@Html.LabelFor(m => m.Rates[0].MontoMERSDTNR):</td><td>@Html.TextBoxFor(m => m.Rates[0].MontoMERSDTNR, new { style = "width:40%" })</td></tr>

    <tr><td colspan="2"><a href="#" onclick="actualizarTarifa()" class="link-button">Guardar</a></td></tr>

    @Html.Raw(Model.TablaCupos)

    @if (ViewBag.Message != null)
    {
        <tr><td colspan="2" class="message">@ViewBag.Message</td></tr>
    }
</table>

</form>


